@model RankingVideojuegos.Models.Videojuego

<h2>¿Estás seguro de que deseas eliminar este videojuego?</h2>

<div>
    <h4>@Model.Titulo</h4>
    <img src="@Model.ImagenUrl" class="img-fluid" style="max-height: 200px;" />
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>
